<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * Description: Dashboard to show Smart City Alerts * * *-->
<!-- * * * * * * * * * * * * * * *  * * * * * * * * * * * * * * * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <!--<img src="../assets/smart-64x64-23296.png" alt="scity"><b> Secure Smart City </b>-->
  <img src="../assets/smart-city_3253488.png" width="64" height="64" alt="scity"><b> Integrated Security Dashboard for Smart City </b>
</header>

<main>
  <div>
    <!--<app-dropdown></app-dropdown>-->
    <mat-tab-group class="mat-elevation-z8 main-tab-group">
      <mat-tab label="Smart City Data (DWave and QRadar)">
        <app-qradar-table></app-qradar-table>
      </mat-tab>
    </mat-tab-group>
  </div>

<!-- <table mat-table matSort [dataSource]="dataSource">

  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.label }}</th>
    <td mat-cell *matCellDef="let element">{{ element[col.key] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select Next or Back">
</mat-paginator> -->

<article>
  <!--<h3> Action Pointers </h3>
  <p> Steps to be implemented in order to take care of the above mentioned issues.</p>-->
</article>
</main>
