main {
  padding-top: 10px;
  padding-bottom: 60px;
}

.intro-text {
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif; /* Georgia, 'Times New Roman', Times, serif; */
  font-size: 10pt;
  border-radius: 10px;
  padding: 10px;
  border: 1px dotted rgb(0, 26, 51);
}

.filter-field {
  margin-left: 10px; /* Adjust the margin value as per your requirement */
  margin-top: 10px;
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  /* border: 2px solid #000; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.filter-field input {
  height: 20px; /* Adjust the height value as per your requirement */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.refresh-button{
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.reset-filter{
  margin-right: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.qradar-class {
  /* margin: 20px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.qradar-table {
  table-layout: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  width: 90%;
  background-color: rgb(240, 240, 240);
}

.qradar-table-header {
  font-weight: bold;
  text-align: center;
  text-align: left;
}

.p {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: Arial, Helvetica, sans-serif;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .left-button {
    order: 1;
    background-color: rgb(240, 240, 240);
  }

  .right-button {
    order: 2;
    background-color: rgb(240, 240, 240);
  }
