main {
  padding-top: 10px;
  padding-bottom: 60px;
}

.intro {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.intro-text {
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif; /* Georgia, 'Times New Roman', Times, serif; */
  font-size: 11pt;
  border-radius: 10px;
  padding: 15px;
  border: 1px dotted rgb(0, 26, 51);
}

.filter-field {
  margin-left: 10px; /* Adjust the margin value as per your requirement */
  margin-top: 10px;
  width: 140px;
  height: 60px;
  display: flex;
  /* align-items: center; */
  /* border: 2px solid #000; */
  /* text-align: right; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.filter-field input {
  height: 20px; /* Adjust the height value as per your requirement */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.refresh-button{
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.reset-filter{
  margin-right: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

caption {
  caption-side: top;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  padding-bottom: 15px;
  color: rgb(0, 30, 50);
}

.mat-elevation-z8.qradar-class {
  /* margin: 20px;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-family: 'Courier New', Courier, monospace;*/
  font-size: 11pt;
  font-weight: bold;
  color: rgb(0, 40, 70);
}

.qradar-table {
  table-layout: fixed;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 11pt;
  font-weight: bold;
  width: 90%;
  background-color: rgb(240, 240, 240);
  border: 1px solid;
  border-color: rgb(0, 30, 50);
  color: rgb(0, 30, 50);
}


.qradar-table-header {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 11.5pt;
  color: rgb(0, 30, 50);
/*   border: 1px solid;
  border-collapse: collapse; */
  border-bottom: 1px solid;
  border-color: rgb(0, 30, 50);
}

.qradar-table-cell {
  text-align: left;
  color: rgb(0, 50, 90);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 11.5pt;
}

.mpaginator {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: rgb(240, 240, 240);
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(0, 30, 50);
}

.p {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: Arial, Helvetica, sans-serif;
  }

.button-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11.5pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-button {
  order: 1;
  background-color: rgb(240, 240, 240);
}

.right-button {
  order: 2;
  background-color: rgb(240, 240, 240);
}
